name: Docker Publish

on:
  push:
    branches:
      - 'enable-gh-docker-build'
    tags:
      - 'v*'

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set current version and publish Docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
           nix develop .#ci --command sbt 'set Global/dockerRepository := Some("${{ env.DOCKER_USERNAME }}")' docker:publish
