name: Docker Publish

on:
  push:
    branches:
      - 'enable-gh-docker-build'
    tags:
      - 'v*'

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set current version and publish Docker images
        env:
          DOCKER_REPOSITORY: ghcr.io/${{ github.repository_owner }}
        run: |
           nix develop .#ci --command sbt 'set Global/dockerRepository := Some("${{ env.DOCKER_REPOSITORY }}")' docker:publish
